.nav-top {
    height:50px;
}

.logo {
    width: 200px;
}

.bg-primary {
    background-color: #01549b;
}

.fg-primary {
    color: #01549b;
}

.bg-secondary {
    background-color: #FFF;
}

.fg-secondary {
    color: #FFF;
}

.intro {
    margin-left: 10px;
}

.navbar-toggle
.icon-bar {
    background-color: #0088ff;
}

.section1 {
    min-height: 872px;
    padding-top: 100px;
}

.section-bg1 {
    background: url('../img/bg1.png');
    background-repeat: no-repeat;
}

.nav-menu {
    float: right;
    margin-top: 30px;
}

hr {
    color: #FFF;
    background: #FFF;
    width: 250px;
    height: 1px;
    margin-left: 0px;
    margin-top: 0px;
}

.section2{
    min-height: 718px;
    padding-top: 100px;
}

.section4 {
    min-height: 718px;
    padding-top: 100px;
}

.section-bg2 {
    background: url('../img/bg2.png');
    background-repeat: no-repeat;
}

.team {
    width: 300px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 5px;
    margin: 0 auto;
}

.member-img {
    width: 150px;
    border-radius: 50%;
}

.facebook-icon {
    width: 40px;
}

.section-bg3 {
    background: url('../img/bg3.png');
    background-repeat: no-repeat;
}

.section3 {
    padding-top: 150px;
    min-height: 872px;
}

.section-bg4 {
    background: url('../img/bg4.png');
    background-repeat: no-repeat;
}

.section-bg5 {
    background: url('../img/bg5.png');
    background-repeat: no-repeat;
}

.section5 {
    padding-top: 150px;
}

.circle {
    background-color: #054b80;
    border-radius: 50%;
    font-size: 100px;
    text-align: center;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.process-desc {
    padding-top: 35px;
}

.nav-top-height2 {
    height: 260px;
}

.section-margin-top{
    margin-top: 50px;
}

.shadow {
    width: 100%;
}

#quote-carousel .carousel-indicators .active {
    width: 80px;
    height: 80px;
    opacity: 1;
    transition: all .2s;
}

.map {
    padding: 0px;
}

.section5 {

}

.navbar-toggle {
    padding: 10px 0px;
    margin-right: 0px;
    float: left;

}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

.member-name {
    font-size: 14px;
    font-weight: bold;
    color: #5d5d5d;
}

.member-description {
    font-size: 12px;
    color: #5d5d5d;
}

.owl-lazy {
    height: 200px;
}

/*ipad*/
@media (max-width: 768px){
    .logo {
        width: 200px;
        margin-left: 30px;
    }

    .nav-menu {
        float: none;
    }

    .section1 {
        padding-top: 50px;
        font-size: 12px;
    }

    .section1 h3,
    .section2 h3,
    .section3 h3,
    .section4 h3,
    .navbar h3 {
        font-size: 14px;
    }

    hr {
        width: 50px;
    }

    .intro h2 {
        font-size: 14px;
        text-align: center;
    }

    .section2 {
        min-height: 694px;
        padding-top: 20px;
        font-size: 12px;
    }

    .team {
        width: 600px;
        padding: 5px;
        margin-bottom: 10px;
    }

    .member-img {
        width: 100px;
    }

    .section4 {
        padding-top: 80px;
    }

    .circle {
        font-size: 70px;
        width: 100px;
        height: 100px;
    }

    .process-desc,
    .navbar p {
        font-size: 12px;
    }

    .section5 {
        margin-top: 250px;
    }

    #quote-carousel{
        width: 95%;
    }

    .carousel-caption {
        display: none;
    }

    .row .intro img {
        width: 100px;
    }

    .section-bg2 {
        background-size: 1980px;
    }
}

/*iphone6 plus*/
@media (max-width: 414px) {
    .team {
        width: 250px;
    }

    .section1 {
        padding-top: 0px;
    }
}

/*galaxy s5*/
@media (max-width: 360px){
    .section-bg1 {
        background-size: 1365px;
    }
    .circle {
        display: none;
    }
}

/*iphone5*/
@media (max-width: 320px) {
    .team {
        width: 230px;
    }

    .section-bg2 {
        background-size: 2060px;
    }

    .section3 {
        min-height: 785px;
    }
}
